body{
    background-color: blue !important;
}

.container{
    background-color: blue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-card{
    width: 30rem;
}

.answer-choice:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.bg-success, .bg-danger{
    color:white
}

.question-footer{
   border-top: 1px solid rgb(0,0,0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
}

.width-100{
    width: 100%;
}

.text-center{
    text-align: center;
}

.final-headline{
    font-size: 38px;
    margin-bottom: 32px;
}

.newGame-Button-row{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px
}